body{
    display: flex;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,li,label,a,textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 0;
}
.all-messages,.chat-space{
    position: relative;
    height: 100vh;
}
.all-messages{
    width: 30%;
    position: relative;
    border-right: solid thin #c5c5c5;
}
.chats-list{
    height: 85%;
    overflow-y: scroll;
    margin: 0;
}
.spec-chat{
    width: 100%;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    height: max-content;
    border-bottom: solid thin #c5c5c5;
}
.user-profile-image{
    border: hidden;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.chat-space{
    width: 70%;
    position: relative;
}
.main-header,.chat-space-header{
    position: sticky;
    top: 0;
    padding: 10px 20px 10px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.user-det-cont{
    padding-left: 10px;
}
.chat-space-header{
    display: flex;
    box-sizing: border-box;
}
.user-data{
    padding-left: 10px;
}
.user-status{
    display: flex;
    align-items: center;
}
.status-color{
    width: 10px;
    height: 10px;
    background-color: darkgray;
    border: hidden;
    border-radius: 50%;
}
.no-messages-space,.chat-messages-space{
    height: 85%;
    width: 100%;
}
.no-messages-space{
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-messages-space{
    display: none;
}
.chat-messages{
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}
.chat-input-nav{
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    min-height: 20px;
    max-height: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.chat-input-container{
    border: hidden;
    border-radius: 20px;
    padding: 6px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: #c5c5c5;
    width: 90%;
}
.chat-input{
    width: 80%;
    height: 25px;
    border: hidden;
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    background-color: #c5c5c5;
}
.chat-input:focus{
    outline: none;
}
#chat-image{
    display: none;
}
/* chat space and bubbles */
.sent-by-you{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.bubble-sent-by-you{
    background-color: #cc5500;
    color: white;
    border-bottom-right-radius: 0;
}
.sent-by-other{
    display: flex;
    width: 100%;
}
.bubble-sent-by-other{
    background-color: #ffece3;
    color: black;
    border-bottom-left-radius: 0;
}
.bubble-sent-by-other,.bubble-sent-by-you{
    max-width: 80%;
    border: hidden;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
} 