<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Chat Test</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <section class="msger">
        <header class="msger-header">
               <div class="msger-header-title">
                    <i class="fas fa-comment-alt"></i> Markt Place Connect
               </div>

               <div class="msger-header-options">
                    <span><i class="fas fa-cog"></i></span>
               </div>
          </header>
        <main id="messages" class="msger-chat">
            <!-- Empty container for messages -->
        </main>
        <form class="msger-inputarea">
               <input type="text" class="msger-input" placeholder="Enter your message...">
               <!-- <button id="toggleEmojiTray">
                    <i class="fa-regular fa-face-smile"></i>
               </button>
               <div class="emoji-tray">
                    <button class="emoji">😀</button>
                    <button class="emoji">😍</button>
                    <button class="emoji">🥰</button>
                    <button class="emoji">😂</button>
                    <button class="emoji">🤣</button>
                    <button class="emoji">😎</button>
                    <button class="emoji">😊</button>
                    <button class="emoji">😜</button>
                    <button class="emoji">😇</button>
                    <button class="emoji">🙌</button>
               </div> -->
               <button type="submit" class="msger-send-btn">Send</button>
          </form>
    </section>

     <script src="https://kit.fontawesome.com/2a49fbdbb8.js" crossorigin="anonymous"></script>
     <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
