<!DOCTYPE html>
<html lang="en">
<head>
    <title>Markt Chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
    <script src="/socket.io/socket.io.js"></script>
    <!-- Kindly change this to fit your needs -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
    crossorigin="anonymous"></script>-->
    <script src="chatscript.js"></script>
</head>
<body>
    <section class="all-messages">
        <header class="main-header">
            <h1 class="main-heading">Markt Chat</h1>
            <h3>Chats</h3>
        </header>
        <ul class="chats-list">

        </ul>
    </section>
    <section class="chat-space">
        <header class="chat-space-header">
            <button onclick="remove_selected_chat()">Back</button>
            <img src="" class="profile-image" alt="" width="50" height="50">
            <div class="user-data">
                <h1 class="user-name">Username</h1>
                <span class="user-status">
                    <span class="status-color"></span>
                    <p class="status-text">offline</p>
                </span>
            </div>
        </header>
        <div class="no-messages-space">
            <p>click on a chat to view</p>
        </div>
        <div class="chat-messages-space">
            <section class="chat-messages"></section>
            <div class="chat-input-nav">
                <span class="chat-input-container">
                    <textarea name="" class="chat-input" placeholder="Enter message"></textarea>
                    <label class="add-image" for="chat-image">upload</label>
                    <input type="file" name="chat-image" id="chat-image" accept="image/jpeg,image/png"
                    onchange="handle_image_uploads()" multiple>
                </span>
                <button onclick="send_message()">Send</button>
            </div>
        </div>
    </section>
</body>
</html> 