<!-- HTML templates were we have the message button/icon-->

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Include InitiateChat.js file -->
<script src="{{ url_for('static',filename='js/initiateChat.js') }}"></script>

<!-- Your message button or icon -->
<button id="messageButton" data-recipient-id="{{ seller_id }}">Send Message</button>

<!-- OPTION A - if we don't want the client/socketio script linked to all templated related to initiating chat -->
<!-- Your inline script to attach the click event -->
<script>
    $(document).ready(function() {
        // Attach a click event to the message button
        $("#messageButton").on("click", function() {
            // Get the recipient ID from the button's data attribute
            let recipientId = $(this).data("recipient-id");

            // Call the function from Initiate.js
            createChat(recipientId);
        });
    });
</script>
